<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Assignment 2</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Assignment 2</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#question1">Question 1</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#strategies">Strategies</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#question2">Question 2</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">Assignment 2</h1>
                        <hr class="star-light">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="question1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Question 1</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <h3>In your own words, what is the difference between SEO and SEM?</h3><br>
                <p>The difference between SEO and SEM is essentially that Search Engine Optimization is a piece of Search engine marketing showcasing or Search marketing as it is generally known. Both procedures point in expanding perceivability in web crawlers. Web optimization is about improving your site to show signs of improvement rankings in the indexed lists while SEM goes past SEO. It includes different strategies that can get you more web index guests like PPC publicizing.SEO is the process of affecting the visibility of a website or a web page in a search engine's 'natural' or un-paid ('organic') search results and SEM is a form of internet marketing that involves the promotion of websites by increasing their visibility in search engine results pages (SERPs) through optimization and advertising.
    </section>

    <!-- About Section -->
    <section class="success" id="strategies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Strategies</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <p>Domain Name Strategy</p><br>
                   <p> The purpose of a domain name strategy is to proactively protect your brand online by reducing the chance for others to use your brand name in their online activities, specifically, in their website URLs.</p><br>
                   <p>---------------------------------------------------</p><br>
                   <p>Keyword Strategy</p><br>
                   <p>Are essential to developing winning search engine marketing campaigns. Your keyword strategy should involve selecting high-performing keywords that drive relevant traffic to your business. Choosing the right keywords for advertising can make all the difference in your campaigns, determining how well your advertisements rank on Google and other search engine platforms.The best keyword strategies rely on highly relevant keywords, which are keywords that relate closely to your business or are associated with your industry.</p><br>
                   <p>---------------------------------------------------</p><br>
                   <p>Meta Description Tags Strategy</p><br>
                   <p>The meta description tag in HTML is the 160 character snippet used to summarize a web page’s content. Search engines sometimes use these snippets in search results to let visitors know what a page is about before they click on it. In this post, we will look at how search engines use meta descriptions, what the top SEO blogs say about meta descriptions & whether they still use them, and reasons why you should use them.</p><br>
                   <p>---------------------------------------------------</p><br>
                   <p>Search Indexing Strategy</p><br>
                   <p>Search engine indexing is the process of a search engine collecting, parses and stores data for use by the search engine. The actual search engine index is the place where all the data the search engine has collected is stored. It is the search engine index that provides the results for search queries, and pages that are stored within the search engine index that appear on the search engine results page.</p><br>
                   <p>---------------------------------------------------</p><br>

                </div>
                <div class="col-lg-4">
                    <p>Linking Strategy</p><br>
                    <p>Linking Strategy refers to the process of getting external pages to link to a page on your website. It is one of the many tactics used in search engine optimization (SEO). Building links is a difficult, time-consuming process as not all links are created equal. </p><br>
                    <p>---------------------------------------------------</p><br>
                    <p>Title Tags Strategy</p><br>
                    <p>A title tag is an HTML element that specifies the title of a web page. Title tags are displayed on search engine results pages (SERPs) as the clickable headline for a given result, and are important for usability, SEO, and social sharing. The title tag of a web page is meant to be an accurate and concise description of a page's content. Your title tag determines (with a few exceptions) your display title in SERPs, and is a search visitor's first experience of your site. Even if your site ranks well, a good title can be the make-or-break factor in determining whether or not someone clicks on your link.</p><br>
                    <p>---------------------------------------------------</p><br>
                    <p>Alt Tags Strategy</p><br>
                    <p>alt tags provide a description of an image for those who have disabilities and rely on screen readers to navigate the Web. This is a great example of the importance of writing Web content for people and not for search engine robots. Usability and relevance to your users should always be at the forefront of your efforts. In SEO terms, alt tags make it possible for search engines to properly read and understand what an image is conveying. In other words, it’s one more element on your site for search engines to crawl and another chance for you to infuse your keywords (assuming the image is relevant to your keywords). It will also help you think more strategically about the images on your page to make sure you’re maximizing your targeted keywords.</p><br>
                    <p>---------------------------------------------------</p><br>
                </div>
               
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="question2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Question 2</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <h3> Is it possible to combine strategies? If yes, which strategies would you like to implement? Why?</h3><br>
                <p> Yes, it is possible to combine strategies. I will combine Linking Strategy to get external pages to link to a page on my website  and Keyword Strategy to make it easier to find my website in Google and other Search Engine Platforms.
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>
